<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button class="buttons-normal"></ion-back-button>
    </ion-buttons>
    <ion-title class="header-normal">Registro</ion-title>
    
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card class="card-normal">

    <ion-list class="list-normal">


      
      <ion-item class="item-normal">
        <ion-label>Nombre: </ion-label>
        <ion-input type="text" [(ngModel)]="nombre"></ion-input>
      </ion-item>

      <ion-item class="item-normal">
        <ion-label>Apellido: </ion-label>
        <ion-input type="text" [(ngModel)]="apellido"></ion-input>
      </ion-item> 

      <ion-item class="item-normal">
        <ion-label>Correo: </ion-label>
        <ion-input type="text" [(ngModel)]="correo"></ion-input>
      </ion-item>

      <ion-item class="item-normal">
        <ion-label>Contraseña: </ion-label>
        <ion-input type="password" [(ngModel)]="pass"></ion-input>
      </ion-item>

      <ion-item class="item-normal">
        <ion-label>Confirmar contraseña: </ion-label>
        <ion-input type="password" [(ngModel)]="passB"></ion-input>
      </ion-item>

      <ion-list>
        <ion-item class="item-normal"> 
          <ion-select (ionChange)="cargarComuna()" placeholder="Seleccionar región" [(ngModel)]="seleccionR">
            <ion-select-option *ngFor="let i of regiones" [value]="i.id">{{i.nombre}}</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-list>

      <ion-list>
        <ion-item class="item-normal">
          <ion-select [disabled]="disComuna" placeholder="Seleccionar comuna" [(ngModel)]="seleccionC">
            <ion-select-option *ngFor="let i of comunas" [value]="i.id">{{i.nombre}}</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-list>

    </ion-list>

    <ion-button class="button-normal" (click)="botonReg()">Registrar Usuario</ion-button>
  </ion-card>
</ion-content>
