<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button class="buttons-normal"></ion-back-button>
    </ion-buttons>
    <ion-title class="header-normal">perfilUsuario</ion-title>
    <ion-button class="button-logout" (click)="botonLogout()" slot="end">
      <ion-icon name="log-out-outline"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list class="list-normal" *ngFor="let e of estudianteR">
    <ion-item>
      <ion-label>Nombre: {{e.nombre}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Apellido: {{e.apellido}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Región: {{e.nombreR}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Comuna: {{e.nombreC}}</ion-label>
    </ion-item>
  </ion-list>
</ion-content>
