<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="header-normal">Menú Principal</ion-title>
    <ion-button class="button-logout" (click)="botonLogout()" slot="end">
      <ion-icon name="log-out-outline"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card class="card-normal">
    <ion-grid>
     <ion-row>
      <ion-col>
        <ng-container *ngIf="!loading">
        <ion-card class="card-menu" *ngFor="let m of menuArray" [routerLink]="m.url">
          <ion-icon [name]="m.icono"></ion-icon>
          <ion-card-title>{{m.nombre}}</ion-card-title>
        </ion-card>
      </ng-container>
      </ion-col>
     </ion-row>
    </ion-grid>
   

   <ng-container *ngIf="loading">
    <ion-grid>
      <ion-row>
        <ion-col>
          <div class="box-skeleton" *ngFor="let m of menuArray">
           <ion-skeleton-text [animated]="true" class="skeleton"></ion-skeleton-text>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
   </ng-container>
  </ion-card>
</ion-content>
