<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button class="buttons-normal"></ion-back-button>
    </ion-buttons>
    <ion-title class="header-normal">Menú Principal</ion-title>
    <ion-button class="button-logout" (click)="botonLogout()" slot="end">
      <ion-icon name="log-out-outline"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card class="card-normal">
    <ion-grid>
     <ion-row>
      <ion-col>
        <ion-card class="card-menu" (click)="botonScan()">
          <ion-icon name="camera-outline"></ion-icon>
          <p>Escanear código</p>
        </ion-card>
      </ion-col>
      <ion-col>
        <ion-card class="card-menu" (click)="botonVisualizar()">
          <ion-icon name="eye-outline"></ion-icon>
          <p>Registro</p>
        </ion-card>
      </ion-col>
     </ion-row>
    </ion-grid>
  </ion-card>

 
</ion-content>
