<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button class="buttons-normal"></ion-back-button>
    </ion-buttons>
    <ion-title class="header-normal">Menú Principal</ion-title>
    <ion-button class="button-logout" (click)="botonLogout()" slot="end">
      <ion-icon name="log-out-outline"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card class="card-normal">

    <ion-button class="button-normal" (click)="botonScan()">Escanear</ion-button>
    <ion-button class="button-normal" (click)="botonVisualizar()">Visualizar</ion-button>

  </ion-card>

 
</ion-content>
