<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="header-normal">Detalle de la Asignatura</ion-title>
    <ion-button class="button-logout" (click)="cerrarModal()" slot="end">
      <ion-icon name="close-circle-outline"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Detalle Asignatura</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card class="card-normal">

    <ion-card-content>
      <h1>Programación Web</h1>
      <h1>Asistencia</h1>
    </ion-card-content>

    <ion-card-content>
      <h1>Profesor:</h1>
      Guillermo Villacura
    </ion-card-content>

    <ion-card-content>
      <ion-list class="list-normal">
        <ion-item class="item-normal">juanito</ion-item>
      </ion-list>
      <ion-list class="list-normal">
        <ion-item class="item-normal">pepito</ion-item>
      </ion-list>
      <ion-list class="list-normal">
        <ion-item class="item-normal">pablito</ion-item>
      </ion-list>
    </ion-card-content>


  </ion-card>

 