<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="header-normal">Detalle de la Asignatura</ion-title>
    <ion-button class="button-logout" (click)="cerrarModal()" slot="end">
      <ion-icon name="close-circle-outline"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Detalle Asistencia</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card class="card-normal">

    <ion-card class="card-menu" *ngFor="let a of asisReg">
      <ion-card-header>
        <ion-card-title>Asistencia Actual</ion-card-title>
        <ion-card-subtitle style="color:white;">Correo del estudiante: {{a.correo}}</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        {{a.asignatura}} - {{a.leccion}}
        Docente: {{a.docente}}
      </ion-card-content>
    </ion-card>


  </ion-card>

 