<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button class="buttons-normal"></ion-back-button>
    </ion-buttons>
    <ion-title class="header-normal">Inicio de Sesion</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card class="card-normal">
    <ion-list class="list-normal">
      <ion-item class="item-normal">
        <ion-label>Nombre:</ion-label>
        <ion-input type="text"></ion-input>
      </ion-item>
      <ion-item class="item-normal">
        <ion-label>Contraseña:</ion-label>
        <ion-input type="password"></ion-input>
      </ion-item>
    </ion-list>

    <ion-card class="array-boton" *ngFor="let l of loginArray" [routerLink]="l.url">
      <ion-icon name=""></ion-icon>
      <h2>{{l.nombre}}</h2>
    </ion-card>
    
  </ion-card>
</ion-content>

