<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="header-normal">Inicio de Sesión</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card class="card-normal">
    <ion-list class="list-normal">
      <ion-item class="item-normal">
        <ion-label>Nombre:</ion-label>
        <ion-input type="text" [(ngModel)]="user"></ion-input>
      </ion-item>
      <ion-item class="item-normal">
        <ion-label>Contraseña:</ion-label>
        <ion-input type="password" [(ngModel)]="pass"></ion-input>
      </ion-item>
    </ion-list>

    
      <ion-button class="button-normal" (click)="botonIngresar()">Ingresar Al Sistema</ion-button>
      <ion-button class="button-normal" (click)="botonRegistrar()">Registro Cuenta Nueva</ion-button>
      <ion-button class="button-normal" (click)="botonRecuperar()">Recuperar Contraseña</ion-button>
    
  </ion-card>
</ion-content>

