<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button class="buttons-normal"></ion-back-button>
    </ion-buttons>
    <ion-title class="header-normal">Menú Principal</ion-title>
    <ion-button class="button-logout" (click)="botonLogout()" slot="end">
      <ion-icon name="log-out-outline"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Registro Asignaturas</ion-title>
    </ion-toolbar>
    <ion-card (click)="detalleAsignatura()">
      
      <ion-card-header>
        <ion-card-title>Programación De Aplicaciones Móviles_001D</ion-card-title>
        <ion-card-subtitle>Mar.-Jue. 11:00-12:50</ion-card-subtitle>
      </ion-card-header>
    </ion-card>

    <ion-card (click)="detalleAsignatura()">
      
      <ion-card-header>
        <ion-card-title>Programación De Aplicaciones Móviles_005D</ion-card-title>
        <ion-card-subtitle>Lun.-Vie. 8:30-10:00</ion-card-subtitle>
      </ion-card-header>
    </ion-card>

  </ion-header>
</ion-content>
