<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button class="buttons-normal"></ion-back-button>
    </ion-buttons>
    <ion-title class="header-normal">Cámara</ion-title>
    <ion-button class="button-logout" (click)="botonLogout()" slot="end">
      <ion-icon name="log-out-outline"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <img src="https://qr.io/assets/img/static.png" alt="Imagen de código QR - No disponible por el momento">
  <ion-button class="button-normal" (click)="botonAsistencia()">Registrar su asistencia</ion-button>
</ion-content>
