<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button class="buttons-normal"></ion-back-button>
    </ion-buttons>
    <ion-title class="header-normal">Recuperacion de Cuenta</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card class="card-normal">
    <ion-list class="list-normal">
      <ion-item class="item-normal">
        <ion-label>Correo: </ion-label>
        <ion-input type="text" [(ngModel)]="correo"></ion-input>
      </ion-item>
      
    <ion-button class="button-normal" (click)="botonRecuperarC()">Recuperar</ion-button>
    
  </ion-card>
</ion-content>
