

<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="header-normal">
      REGISTRAPP
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card class="card-normal">
    <ion-card-title>Bienvenido a la aplicación de Registro de Asistencia</ion-card-title>

    <ion-card class="array-boton" *ngFor="let h of homeArray" [routerLink]="h.url">
      <ion-icon name=""></ion-icon>
      <h2>{{h.nombre}}</h2>
    </ion-card>
    
  </ion-card>
</ion-content>

<ion-footer class="footer-normal">Joan Amaya - Javier Hurtado - 2023</ion-footer>