

<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="header-normal">
      REGISTRAPP
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card class="card-normal">
    <h3>Bienvenido a la aplicación de Registro de Asistencia</h3>

    <ion-button class="button-normal" (click)="botonCrearUsuario()">Registrarse</ion-button>
    <ion-button class="button-normal" (click)="botonLogin()">Iniciar Sesión</ion-button>
  </ion-card>
</ion-content>

<ion-footer class="footer-normal">Joan Amaya - Javier Hurtado - 2023</ion-footer>