

<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="header-normal">
      REGISTRAPP
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card class="card-normal">
    
    <div class="array-box">
    <ion-card-title>Bienvenido a Registrapp</ion-card-title>
    <ion-card class="array-boton" *ngFor="let h of homeArray" [routerLink]="h.url">
      <ion-icon [name]="h.icono" class="ion-icon"></ion-icon>
      <h2>{{h.nombre}}</h2>
    </ion-card>
  </div>
    
    
  </ion-card>

  <ion-button class="button-normal" (click)="play()">Animar</ion-button>
<ion-button class="button-normal" (click)="pause()">Pausar</ion-button>
<ion-button class="button-normal" (click)="stop()">Detener</ion-button>



</ion-content>

<ion-footer class="footer-normal">Joan Amaya - Javier Hurtado - 2023</ion-footer>