<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button class="buttons-normal"></ion-back-button>
    </ion-buttons>
    <ion-title class="header-normal">lista-asignaturas</ion-title>
    <ion-button class="button-logout" (click)="botonLogout()" slot="end">
      <ion-icon name="log-out-outline"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card class="card-normal" (click)="botonSeccion()">

    <ion-card-content>
      <h1>Programación Web - Sesión Viernes</h1>
    </ion-card-content>

    <ion-card-content>
      <h1>Profesor:</h1>
      Guillermo Villacura
    </ion-card-content>

    <ion-card-content>
      <h1>Fecha:</h1>
      08 /Septiembre/2023
    </ion-card-content>

    <ion-card-content>
      <h1>Hora entrada:</h1>
      14:30
    </ion-card-content>

    <ion-card-content>
      <h1>Sala:</h1>
      L6 - Piso 3
    </ion-card-content>


  </ion-card>
</ion-content>
